<div class="text-center">
    <a href="/logout">Logout</a>
    <h1>SUCCESS!</h1>
    <h2>Welcome @Model.User.FirstName @Model.User.LastName</h2>
    <p>You Regeistered: @Model.User.CreatedAt</p>
    <p>You Last Updated At: @Model.User.UpdatedAt</p>
</div>